<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-logo">
        <a href="/"><img src="~/Images/logo.png" /></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Conversions</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/Conversion/currency">Currency</a>
                    <a class="dropdown-item" href="/Conversion/length">Length</a>
                    <a class="dropdown-item" href="/Conversion/temperature">Temperature</a>
                    <a class="dropdown-item" href="/Conversion/time">Time</a>
                    <a class="dropdown-item" href="/Conversion/weight">Weight</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/formulas">Formulas</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#contactUsModal">
                    Contact Us @*<span class="glyphicon glyphicon-envelope"></span>*@
                </a>
            </li>
        </ul>
    </div>
</nav>