<div class="navbar navbar-inverse">
    <div class="navbar-logo">
        <a href="/"><img src="~/Images/logo.png" /></a>
    </div>
    <div class="navbar-options">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle menu" data-toggle="dropdown" href="#">Conversions<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/Conversion/currency">Currency</a></li>
                    <li><a href="/Conversion/length">Length</a></li>
                    <li><a href="/Conversion/temperature">Temperature</a></li>
                    <li><a href="/Conversion/time">Time</a></li>
                    <li><a href="/Conversion/weight">Weight</a></li>
                </ul>
            </li>
            <li><a class="menu" href="/formulas">Formulas</a></li>
            <li>
                <a class="menu" href="#" data-toggle="modal" data-target="#modalContact">
                    Contact Us <span class="glyphicon glyphicon-envelope"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
